.shop {
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    gap: 5rem;
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 80%;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding-left: 0;
    padding-right: 0;
  }
  &__card {
    // float: left;
    // width: 22.333%;
    overflow: hidden;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &-name-tag {
      font-size: 1.8rem;
      text-decoration: underline;
    }

    &-price {
      font-size: 1.6rem;
      text-decoration: underline;
    }

    &-img {
      display: block;
      height: 33rem;
      object-fit: cover;
      overflow: hidden;
      width: 100%;

      transition: all 0.5s;

      @media only screen and (max-width: $bp-small) {
        height: 50%;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.name-price {
  display: flex;
  justify-content: space-between;

  padding: 3rem 1rem;
}

.btn-large {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: underline;
  font-weight: 500;
}

.padding-big {
  padding-top: 18rem;
}

///FEATURES///////////

.features {
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  gap: 4rem;
  align-items: stretch;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 80%;
    justify-content: center;
    padding: 0;
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 3rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-item {
      border: 2px solid #222222;
      border-radius: 15px;
      padding: 5rem 4rem;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      h4 {
        font-size: 2.6rem;
        font-family: "Outfit", sans-serif;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 8px;
      }

      &-box {
        display: flex;
        align-items: center;
        gap: 1.5rem;
      }

      &-text {
        font-size: 1.6rem;
        color: #222222;
        padding-left: 5rem;
      }
    }
  }
}

.check-mark {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 5px;
}

.yellow-box {
  background-color: $color-primary;
}

.img-box {
  overflow: hidden;
  border-radius: 20px;
}

// GALLERY ////

.gallery {
  margin-top: 8rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  position: relative;
  z-index: 1;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__img1 {
    @include gallery;
    height: 100%;
  }
  &__img2 {
    @include gallery;
    height: 80%;
    align-self: center;
  }
  &__img3 {
    @include gallery;
    height: 100%;
  }
  &__img4 {
    @include gallery;
    align-self: center;
    height: 80%;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }
}

.slider__yellow {
  background-color: #f4f4f4;
  height: 8rem;
  background-color: $color-primary;

  position: absolute;
  top: 45%;
  z-index: 5;
  width: 100%;
  display: grid;

  overflow: hidden;
  &-track {
    display: flex;
    width: calc(24rem * 18);
    animation: scroll 14s linear infinite;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  p {
    font-family: "Outfit", sans-serif;
    font-size: 5.2rem;
    font-weight: 800;
  }
}

///////MAIN///

.main {
  margin-top: 18rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 10rem;
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    padding-bottom: 10rem;
  }

  &__img {
    @media only screen and (max-width: $bp-small) {
      display: flex;
      justify-content: center;
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
  }

  &__box {
    display: flex;
    gap: 2rem;
    place-items: center;
    margin-bottom: 6rem;

    h4 {
      font-size: 2rem;
      font-weight: 600;
      font-family: "Outfit", sans-serif;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }

    p {
      font-size: 1.6rem;
    }
  }
}

.main-img {
  width: 100%;
  border-radius: 2.4rem;

  @media only screen and (max-width: $bp-small) {
    height: 60rem;
    object-fit: cover;
  }
}

.icon-wrapper {
  align-items: center;
  justify-content: center;
  background-color: $color-secondary;

  width: 5rem;
  height: 5rem;
  border-radius: 100px;
  display: flex;
}

.btn-inline {
  font-size: 1.6rem;
  text-decoration: none;
  color: $text-color;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-inline span {
  margin-left: 3px;
  transition: margin-left 0.2s;
}
.btn-inline:hover {
  color: $color-tertiary;
}
.btn-inline:hover span {
  margin-left: 8px;
}

.button-box {
  display: flex;
  align-items: center;
  gap: 3rem;
}

// LAST GALLERY /////

.gal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  padding-bottom: 12rem;
  gap: 4rem;

  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: 1fr;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    border-radius: 2.4rem;
  }

  &__side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

// FOOTER /////////

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
  padding: 4rem;
  border-top: 1px solid #2222226a;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }

  @media only screen and (max-width: $bp-smallest) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__form {
    display: flex;
    gap: 2rem;

    &-box {
      flex: 1;
    }

    &-box input {
      width: 100%;
      padding: 1.2rem;
      font-size: 1.7rem;
      font-family: "Rubik", sans-serif;
      border: 1px solid #222222;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }

  &__button {
    padding: 1.2rem 2.5rem;
    background-color: #000000;
    color: #f4f4f4;
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  &__first {
    display: flex;
    gap: 10rem;
    padding-top: 4rem;

    @media only screen and (max-width: $bp-small) {
      justify-content: space-around;
    }
  }

  &__heading {
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 2rem;
    display: inline-block;
  }

  &__list-item {
    font-size: 1.4rem;
    list-style: none;
    cursor: pointer;

    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }

  &__text {
    font-size: 1rem;
    width: 80%;
    padding-top: 1rem;
  }
}
