.testimonials {
  text-align: center;
  padding: 10rem 8rem 5rem 8rem;

  @media only screen and (max-width: $bp-medium) {
    padding-top: 6rem;
    padding-bottom: 0;
  }

  @media only screen and (max-width: $bp-small) {
    padding-top: 10rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding-top: 0;
  }
  &__heading {
    font-family: "Outfit", sans-serif;
    font-size: 4.8rem;
    padding-bottom: 1rem;
  }
}

.testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 3rem;
  padding: 5rem;
  padding-top: 0;
  margin-bottom: 8rem;

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 4rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__author {
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__box {
    background-color: #f4f4f4;
    border-radius: 1.6rem;
    padding: 2.6rem;
    display: grid;
    gap: 1rem;

    &-author {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }

  &__img {
    width: 5rem;
    height: 5rem;
  }

  &__job {
    font-size: 1.6rem;
  }
}

.carrie {
  @media only screen and (max-width: $bp-small) {
  }
}

////BLOG//////////////

.blog {
  padding: 4rem;
  padding-top: 8rem;

  @media only screen and (max-width: $bp-small) {
    text-align: center;
    padding: 0;
  }
  &__h2 {
    font-family: "Outfit", sans-serif;
    font-size: 4.2rem;
  }
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding-left: 4rem;
  // padding-right: 4rem;
  margin-bottom: 10rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 6rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
      padding-bottom: 1rem;
      border-bottom: 1px solid #2222;
    }

    h5 {
      font-size: 2.4rem;
      font-family: "Outfit", sans-serif;
      padding-bottom: 1.5rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: all 1s;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
      overflow: hidden;
    }
  }

  &__span {
    font-size: 1.4rem;
    padding: 6px 8px;
    border: 1px solid $text-color;
    border-radius: 100px;
    margin-right: 2rem;

    &:hover {
      background-color: #ecf49034;
      transition: all 0.3s;
    }
  }

  &__text {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}
.span_div {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.span {
  font-size: 1.4rem;
}
